<!DOCTYPE html>
<html
	lang="es"
	xmlns:th="http://www.thymeleaf.org"
	 th:replace="~{fragments/layout :: layout(~{::body}, 'veterinarios')}"
>
<head>
	<meta charset="UTF-8">
	<title>Lista de Veterinarios</title>
</head>
<body>
	<!--/*@thymesVar id="veterinario" type="mx.com.wiirux.sfgpetclinic.model.Veterinario"*/-->
	<h2 th:text="'Lista de Veterinarios'">Lista de Veterinarios...</h2>
	<table id="veterinarios" class="table table-striped">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Especialidad</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="veterinario : ${veterinarios}">
				<td th:text="${veterinario.nombre + ' ' + veterinario.apellido}">Joe</td>
				<td>
					<span
						th:each="especialidad : ${veterinario.especialidades}"
						th:text="${especialidad.description + ' '}"
					>
					</span>
					<span
						th:if="${veterinario?.especialidades?.size() == 0}"
					>
						Ninguna
					</span>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>